#content {
    margin-top: 40%;
}

.gray {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Button {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}